@CHARSET "ISO-8859-1";
/*--------Timeline Basic------------*/
.timeline_social:before{
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 3px;
    margin-left: -1.5px;
    background-color: #f2f4f8
}
.timeline_social{
    position: relative;
    padding: 20px 15px 20px;
    list-style: none;
    max-width: 1200px;
    margin: 0 auto
}
.timeline {
    position: relative;
    padding: 20px 15px 20px;
    list-style: none;
    max-width: 1200px;
    margin: 0 auto
}

.timeline:before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 3px;
    margin-left: -1.5px;
    background-color: #f2f4f8
}

.timeline > li {
    position: relative;
    margin-bottom: 20px
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table
}

.timeline > li:after {
    clear: both
}

.timeline > li > .timeline-panel {
    float: left;
    position: relative;
    width: 44%;
    padding: 20px;
    border: 1px solid rgba(120, 130, 140, 0.13);
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05)
}

.timeline > li > .timeline-panel:before {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 26px;
    right: -8px;
    border-top: 8px solid transparent;
    border-right: 0 solid rgba(120, 130, 140, 0.13);
    border-bottom: 8px solid transparent;
    border-left: 8px solid rgba(120, 130, 140, 0.13)
}

.timeline > li > .timeline-panel:after {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 27px;
    right: -7px;
    border-top: 7px solid transparent;
    border-right: 0 solid #fff;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #fff
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    right: auto;
    left: -8px;
    border-right-width: 8px;
    border-left-width: 0
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -7px;
    border-right-width: 7px;
    border-left-width: 0
}

.timeline-title {
    margin-top: 0;
    color: inherit;
    font-weight: 400
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0
}

.timeline-body > p + p {
    margin-top: 5px
}
.timeline-icon {
    height: 52px;
    width: 52px;
    border-radius: 50%;
    background-color: #ffffff;
    /*border: 2px solid @flatGreen;*/
    text-align: center;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9;
    overflow: hidden;
}

.timeline-icon i {
    color: #ffffff;
    font-size: 25px;
    line-height: 50px;
    text-shadow: 1.414px 1.414px 6px rgba(0, 0, 0, 0.2);
}
.timeline-icon {
    position: absolute;
    margin: auto;
}
@media (max-width: 767px) {
    .timeline-icon {
        position: absolute;
        margin: 10px 0px;
    }
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}
/****************************************************
                        Timeline Year
****************************************************/
.timeline-total-pad {
    padding-left: 100px;
    padding-right: 100px;
}

.timeline-hover:hover {
    -webkit-box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.timeline-block {
    padding-bottom: 140px;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.timeline-year {
    color: #707780;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.50px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
    z-index: 9;
    position: relative;
    background: #ffffff;
}

.timeline-year.timeline-pad {
    margin-top: 50px;
}

.timeline-date {
    color: #000;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.25px;
    line-height: 22px;
    text-transform: capitalize;
    text-align: right;
    margin-top: 10px;
}

.timeline-date.timeline-left-date {
    text-align: left;
}

.timeline2-icon {
    height: 52px;
    width: 52px;
    border-radius: 50%;
    background-color: #ffffff;
    /*border: 2px solid @flatGreen;*/
    text-align: center;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9;
    overflow: hidden;
}

.timeline2-icon i {
    color: #ffffff;
    font-size: 25px;
    line-height: 50px;
    text-shadow: 1.414px 1.414px 6px rgba(0, 0, 0, 0.2);
}

.time-bar {
    width: 2px;
    background-color: #d7dce5;
    display: inline-block;
    position: absolute;
    height: 100%;
    left: 28%;
    z-index: 9;
}

.time-bar.timeline-bar {
    left: 49.8%;
    height: 90%;
}

.timeline-heading {
    color: #707780;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.25px;
    line-height: 52px;
    text-transform: capitalize;
    text-align: left;
    background-color: #ffffff;
    color: #ffffff;
    border: 1px solid #d7dce5;
    padding: 0px 15px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    position: relative;
}

.timeline-heading.timeline-right-heading {
    text-align: right;
}

.timeline-heading .timeline-arrow {
    position: absolute;
    left: -10px;
    top: 8px;
    border-right: 10px solid #4CAF50;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.timeline-heading .timeline-arrow.arrow-blue {
    border-right: 10px solid #2196F3;
}

.timeline-heading .timeline-arrow.arrow-green {
    border-right: 10px solid #4CAF50;
}

.timeline-heading .timeline-arrow.arrow-red {
    border-right: 10px solid #F44336;
}

.timeline-heading .timeline-arrow.arrow-orange {
    border-right: 10px solid #FF9800;
}

.timeline-heading .timeline-arrow.arrow-indigo {
    border-right: 10px solid #3F51B5 !important;
}

.timeline-heading .timeline-arrow.arrow-cyan {
    border-right: 10px solid #00BCD4;
}

.timeline-heading .timeline-arrow-right {
    position: absolute;
    right: -10px;
    top: 8px;
    border-left: 10px solid #4CAF50;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.timeline-heading .timeline-arrow-right.arrow-blue-right {
    border-left: 10px solid #2196F3;
}

.timeline-heading .timeline-arrow-right.arrow-green-right {
    border-left: 10px solid #4CAF50;
}

.timeline-heading .timeline-arrow-right.arrow-red-right {
    border-left: 10px solid #F44336;
}

.timeline-heading .timeline-arrow-right.arrow-orange-right {
    border-left: 10px solid #FF9800;
}

.timeline-heading .timeline-arrow-right.arrow-indigo-right {
    border-left: 10px solid #3F51B5;
}

.timeline-heading .timeline-arrow-right.arrow-cyan-right {
    border-left: 10px solid #00BCD4;
}

.timeline-content,
.timeline-comment {
    color: #000;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 26px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #d7dce5;
    border-top: 1px solid transparent;
    padding: 15px;
    margin-bottom: 30px;
}

.timeline-content .green-link,
.timeline-comment .green-link {
    color: #4caf50;
    text-decoration: none;
    font-weight: 400;
}

.timeline-content a,
.timeline-comment a {
    color: #6cc049;
    text-decoration: none;
}

.timeline-content span,
.timeline-comment span {
    color: #f44336;
    font-weight: 400;
}

.timeline-content.timeline-right-comment,
.timeline-comment.timeline-right-comment {
    text-align: right;
}

@media (max-width: 995px) {
    .time-bar {
        display: none;
    }

    .timeline-date {
        text-align: center;
    }

    .timeline2-icon {
        position: relative;
        margin: auto;
    }
    .timeline-total-pad {
        padding-left: 5px;
        padding-right: 5px;
    }
}
.bg-success{
	background-color: #4CAF50;
}
.bg-blue{
	background-color: #2196F3;
}
.bg-indigo{
	background-color: #3F51B5;
}
.phase-right{
	float: right;
}
.pull-right{
	float: right !important;
}
.m-t-10{
	margin-top:10px;
}
.phase-no{
	font-size:16px;
	border:1px solid darkgreen;
	
}
.label-override{
    padding: 1.4em 0.6em;
    font-size: 13px;
}

