.BUTTON_DPX {
   background: #3D94F6;
   background-image: -webkit-radial-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-radial-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-radial-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-radial-gradient(top, #3D94F6, #1E62D0);
   background-image: radial-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   color: #FFFFFF;
   font-family: Sans-serif;
   font-size: 15px;
   font-weight: 25;
   padding: 10px;
   /* box-shadow: 1px 1px 20px 0px #000000; */
  /*  -webkit-box-shadow: 1px 1px 20px 0px #000000; */
  /*  -moz-box-shadow: 1px 1px 20px 0px #000000; */
   /* text-shadow: 1px 1px 20px #FFFFFF; */
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
}

.BUTTON_DPX:hover {
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
   text-decoration: none;
}

.allign{
	text-align: right;
	
}

.yui3-skin-sam .yui3-datatable-scroll-columns {
    border-collapse: separate;
    border-spacing: 0;
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

.yui3-skin-sam .yui3-datatable-scroll-columns .yui3-datatable-header {
    padding: 0;
}

.yui3-skin-sam .yui3-datatable-x-scroller,
.yui3-skin-sam .yui3-datatable-y-scroller-container {
    border: 1px solid #cbcbcb;
}

.yui3-skin-sam .yui3-datatable-scrollable-x .yui3-datatable-y-scroller-container,
.yui3-skin-sam .yui3-datatable-x-scroller .yui3-datatable-table,
.yui3-skin-sam .yui3-datatable-y-scroller .yui3-datatable-table {
    border: 0 none;
}