#districtDD, #blockDD, #clusterDD, #schoolDD{
	border-top-left-radius: 50px !important;
	border-bottom-left-radius: 50px !important;
	border-top-right-radius: 50px !important;
	border-bottom-right-radius: 50px !important;
}

.set-width{
	width: 80px;
    /* overflow: hidden; 
    display: inline-block;*/
    white-space: nowrap;
}

/* .ui-jqgrid.ui-jqgrid-bootstrap {
    border: 1px solid #003380;
}
.ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-caption {
    background-color: red;
}
.ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-hdiv {
    background-color: #cce0ff;
} 

.ui-jqgrid-sortable{
    height: 50px;
    padding: 10px;
    color: #5757d1;
    /* background-color: white;
}*/


/*.box-outline:after{
	content:'';
	position: absolute;
	display: inline-block;
	height: 2px;
	width: 200px;
	background-color: yellow;
}
*/
.ribbon{
	position: relative;
	display: block;	
	width: 200px;
	height: 30px;
	background-color: #5454d2;
	color: white;
	font-weight: bold; 
	padding-top: 7px; 
	padding-left: 5px; 
	left: 30%;
}

@media (max-width: 1148px){
	.ribbon{
		position: relative;
		display: flex;	
		width: 200px;
		height: 30px;
		background-color: #5454d2;
		color: white;
		font-weight: bold; 
		padding-top: 7px; 
		padding-left: 5px; 
		left: -50%;
		top: 30px
}
}

.ribbon:after, .ribbon:before{
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	left: 100%;
	 
}

.ribbon:after{
	top: 15px;
	border-right: solid 5px transparent;
	border-top: solid 15px #5454d2;
}

.ribbon:before{
	bottom: 15px;
	border-right: solid 5px transparent;
	border-bottom: solid 15px #5454d2;
}

.ribbon1{
	position: relative;
	display: block;	
	width: 200px;
	height: 60px;
	background-color: #43e8e1;
	color: white; 
	font-weight: bold; 
	padding-top: 15px; 
	padding-left: 10px;
	left: 50%;
}

.ribbon1:after, .ribbon1:before{
	content: '';
	position: absolute;
	width: 20px;
	left: 100%;
	 
}

.ribbon1:after{
	top: 30px;
	border-right: solid 10px transparent;
	border-top: solid 30px #43e8e1;
}

.ribbon1:before{
	bottom: 30px;
	border-right: solid 10px transparent;
	border-bottom: solid 30px #43e8e1;
}

@media (max-width: 1165px){
	.ribbon1{
		position: relative;
		display: block;	
		width: 200px;
		height: 60px;
		background-color: #43e8e1;
		color: white; 
		font-weight: bold; 
		padding-top: 15px; 
		padding-left: 10px;
		left: 30%;
	}
}

@media (max-width: 1165px){
	.ribbon1{
		position: relative;
		display: block;	
		width: 200px;
		height: 60px;
		background-color: #43e8e1;
		color: white; 
		font-weight: bold; 
		padding-top: 15px; 
		padding-left: 10px;
		left: 30%;
	}
}



.ribbon2{
	position: relative;
	display: block;	
	width: 150px;
	height: 60px;
	background-color: #5ce843;
	color: white; 
	font-weight: bold; 
	padding-top: 8px; 
	padding-left: 10px; 
	top: 35%
}

.ribbon2:after, .ribbon2:before{
	content: '';
	position: absolute;
	width: 20px;
	left: 100%;
	 
}

.ribbon2:after{
	top: 30px;
	border-right: solid 10px transparent;
	border-top: solid 30px #5ce843;
}

.ribbon2:before{
	bottom: 30px;
	border-right: solid 10px transparent;
	border-bottom: solid 30px #5ce843;
}

/*@media (max-width: 1148px){
	.ribbon2{
		position: relative;
		display: block;	
		width: 150px;
		height: 60px;
		background-color: #5ce843;
		color: white; 
		font-weight: bold; 
		padding-top: 8px; 
		padding-left: 10px; 
		top: 0%
	}
}*/

.underline{
	border-bottom: solid 1px black !important;
	border-right: solid 1px black !important;
	/* border-left: solid 10px transparent !important; */
	-webkit-box-shadow: 5px 5px 5px #9a9a9b !important; 
	border-right: solid 1px black !important;
}

.shadow {
    position: relative;
} 

.shadow:after {
    box-shadow: 15px 0 15px -15px #505050 !important;
    content: " ";
    height: 100%;
    position: absolute;
    top: 0;
    right: -15px;
    width: 15px;
}

.list-group-item:first-child{
	border-top-left-radius: 0px;
}

.list-group-item:last-child{
	border-bottom-left-radius: 0px; 	
}


.tabs-left {
    border-bottom: none;
    padding-top: 2px;
  }
  
  .tab-content > .tab-pane{
    background: none !important;
    border-top: 0 none !important;
  }

  .tabs-left>li{
    float: none;
    margin-bottom: 2px;  
  }
  .tablink>li>a:hover{
    background-color: purple !important;
  }

  .tabs-left>li.active>a,
  .tabs-left>li.active>a:hover,
  .tabs-left>li.active>a:focus {
    background-color: purple !important;
    color: white !important;
  }
  
  .tabs-left>li:hover{
    color: white !important;
  }

  .tabs-left>li>a {
    border-radius: 0 0px 0px 0;
    background-color: red;
    color: white !important;
    margin-right: 0;
    display:block;
  }

  .tablink:before{
      top:0 !important;
  }

  .tablink:after{
      bottom: 0 !important;
  }


  .tablink:before{
   	content:'';
    position: absolute;
    top: 0 !important;
    height: 65px;
    width: 300px;
    left: -20px;
    border-bottom: 20px solid #460146;
}

#level{
	position: absolute;
}

/*table*/


   input,.non{
        border:none !important;
        border-top: none !important;
        outline: none !important;
        width: 100%;
    }
    .first{
        background: #8D8DC5 !important;
    }
    .second{
        background: #B1B1E4 !important;
    }
    .third{
        background: #C4C4F5 !important;
    }
    .secondFirst{
        background: #6DD1EB !important;
    }
    .secondSecond{
        background: #99D9E9 !important;
    }
    .secondThird{
        background: #C7E7EE !important;
    }
    .thirdFirst
    {
        background: #84ECBA !important;
    }
    .thirdSecond
    {
        background: #ABECCD !important;
    }
    .thirdThird
    {
        background: #B4EBD0 !important;
    }
    .fourthFirst
    {
        background: #c8d609 !important
    }
    .fourthSecond
    {
        background: #d7e421 !important
    }
    .fourthThird
    {
        background:#d8e60f !important
    }
    .fifthFirst
    {
        background: #EBBB78 !important;
    }
    .fifthSecond
    {
        background: #F0C895 !important;
    }
    .fifthThird
    {
        background: #E7CFAF !important;
    }
    .sixthFirst
    {
        background: #E47272 !important;
    }
    .sixthSecond
    {
        background: #F39797 !important;
    }
    .sixthThird
    {
        background: #F0A2A2 !important;
    }
    
    
    
/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 0px;
  /*-webkit-box-shadow: 5px 0px 10px #9a9a9a;
  box-shadow: 0 0px 10px #9a9a9a;*/
  /*-moz-box-shadow: 0 0px 10px #9a9a9a;*/
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
  -webkit-box-shadow: 5px 0px 10px #9a9a9a;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
  color: black;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: black;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active{
  background-color: #5454d2;
  color: white;
  border-color: #5454d2;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #5454d2;
  
}

div.bhoechie-tab-menu div.list-group>a.lightblue:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #43e8e1;
  
}

div.bhoechie-tab-menu div.list-group>a.green:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #5ce843;
  
}

div.bhoechie-tab-menu div.list-group>a.red:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #ef1717;
  
}

div.bhoechie-tab-menu div.list-group>a.orange:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #ef8e17;
  
}

div.bhoechie-tab-menu div.list-group>a.yellow:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #f1e125;
  
}



div.bhoechie-tab-content{
  background-color: #ffffff;
  padding-left: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}

.table{
	color: black;
}

.blue{
	background-color: #5454d2 !important;
	border-color: #5454d2;
}

.lightblue{
	background-color: #43e8e1 !important;
	border-color: #43e8e1 !important;
}

.green{
background-color: #5ce843 !important;
	border-color: #5ce843 !important;
}

.yellow{
background-color: #f1e125 !important;
	border-color: #f1e125 !important;
}

.orange{
background-color: #ef8e17 !important;
	border-color: #ef8e17 !important;
}

.red{
background-color: #ef1717 !important;
	border-color: #ef1717 !important;
}


/*span:nth-child(2n+1)*/

.domainfirst div:nth-child(1),
.domainfirst div:nth-child(2),
.domainfirst div:nth-child(3),
.domainsecond div:nth-child(1),
.domainsecond div:nth-child(2),
.domainsecond div:nth-child(3),
.domainthird div:nth-child(1),
.domainthird div:nth-child(2),
.domainthird div:nth-child(3),
.domainfourth div:nth-child(1),
.domainfourth div:nth-child(2),
.domainfourth div:nth-child(3),
.domainfifth div:nth-child(1),
.domainfifth div:nth-child(2),
.domainfifth div:nth-child(3),
.domainsixth div:nth-child(1),
.domainsixth div:nth-child(2),
.domainsixth div:nth-child(3){
	position: absolute;
	display: block;
	border-left: none !important;
	border: 1px solid grey;
	width: 30px;
	height: 30px;
	-webkit-box-shadow: 5px 5px 5px #9a9a9a; 
}

.domainfirst div:nth-child(1){
	background-color: #8D8DC5;
	top: 20px;
}


.domainfirst div:nth-child(2){
	background-color: #B1B1E4;
	top: 70px;
}

.domainfirst div:nth-child(3){
	background-color: #C4C4F5;
	border: 1px solid grey !important;
	top: 120px;
}

.domainfirst div:nth-child(1):after, .domainfirst div:nth-child(2):after{
	content: '';
	position: absolute;
	height: 70px;
	width: 1px;
	background-color: grey;
}


.domainsecond div:nth-child(1){
	top: 20px;
	background-color: #6DD1EB;
}

.domainsecond div:nth-child(2){
	background-color: #99D9E9;
	top: 70px;
}

.domainsecond div:nth-child(3){
	background-color: #C7E7EE;
	top: 120px;
	border: solid 1px grey !important;
}


#s12:after, #s11:after{
	content: '';
	position: absolute;
	height: 60px;
	width: 1px;
	background-color: grey;
}

.domainthird div:nth-child(1){
	top: 20px;
	background-color: #84ECBA;
}

.domainthird div:nth-child(2){
	background-color: #ABECCD;
	top: 70px;
}

#s22:after, #s21:after{
	content: '';
	position: absolute;
	height: 200%;
	width: 1px;
	background-color: grey;
}

.domainthird div:nth-child(3){
	background-color: #B4EBD0;
	top: 120px;
	border: solid 1px grey !important;
}


.domainfourth div:nth-child(1){
	border-left: none !important;
	background-color: #E4EE5E;
	top: 20px;
}

.domainfourth div:nth-child(2){
	background-color: #ECF38B;
	top: 70px;
}

.domainfourth div:nth-child(3){
	background-color: #E7EC9E;
	top: 120px;
	border: solid 1px grey !important;
}

#s32:after, #s31:after{
	content: '';
	position: absolute;
	height: 60px;
	width: 1px;
	background-color: grey;
}


.domainfifth div:nth-child(1){
	border-left: none !important;
	background-color: #EBBB78;
	top: 20px;
}

.domainfifth div:nth-child(2){
	background-color: #F0C895;
	top: 70px;
}

.domainfifth div:nth-child(3){
	background-color: #E7CFAF;
	top: 120px;
	border: solid 1px grey !important;
}

#s52:after, #s51:after{
	content: '';
	position: absolute;
	height: 60px;
	width: 1px;
	background-color: grey;
}


.domainsixth div:nth-child(1){
	border-left: none !important;
	background-color: #E47272;
	top: 20px;
}

.domainsixth div:nth-child(2){
	background-color: #F39797;
	top: 70px;
}

.domainsixth div:nth-child(3){
	background-color: #F0A2A2;
	top: 120px;
	border: solid 1px grey !important;
}

.domainsixth div:nth-child(2):after, .domainsixth div:nth-child(1):after{
	content: '';
	position: absolute;
	height: 60px;
	width: 1px;
	background-color: grey;
}


#text1, #text2, #text3{
	left: 75%;
}

#text1, #text11, #text21{
	top: 28%;
}

#text2, #text12, #text22{
	top: 43%;
}

#text3, #text13, #text23{
	top: 58%;
}

#text11, #text12, #text13{
	position: absolute;
	left: 70%;
}
 
#text21, #text22, #text23{
	position: absolute;
	left: 75%;
}

#text31, #text32, #text33{
	position: absolute;
	left: 69%;
}

#text41, #text42, #text43{
	position: absolute;
	left: 70%;
}

#text51, #text52, #text53{
	position: absolute;
	left: 70%;
}

#text31, #text41, #text51{
	top: 30%;
}

#text32, #text42, #text52{
	top: 50%;
}

#text33, #text43, #text53{
	top: 70%;
} 




