@charset "ISO-8859-1";

.TICKETS_DPX {
	width: 100%;
	background-color: rgb(204, 239, 255);
	height: 60px;
	box-shadow: 10px 10px 5px grey;
}

.TICKETS_DPX:hover {
	/* background: #1E62D0;
	background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
	background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
	background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
	background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
	background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
	text-decoration: none; */
	position:relative;
	bottom:3px;
	box-shadow: 10px 10px 5px grey;
}