@charset "ISO-8859-1";

.TOP_LEBEL {
	height: auto;
	margin-top: 1%;
	background: #3D94F6;
	background-image: -webkit-radial-gradient(center, #00ffcc 9%, #0033cc 93%);
	background-image: -moz-radial-gradient(center, #00ffcc 9%, #0033cc 93%);
	background-image: -ms-radial-gradient(center, #00ffcc 9%, #0033cc 93%);
	background-image: -o-radial-gradient(center, #00ffcc 9%, #0033cc 93%);
	background-image: radial-gradient(center, #00ffcc 9%, #0033cc 93%);
}



table.dataTable, table.dataTable th, table.dataTable td {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}