@CHARSET "ISO-8859-1";
/*
Theme Name:     startupodisha
Description:    
Author:         startupodisha
Template:       accesspress-parallax

(optional values you can add: Theme URI, Author URI, Version, License, License URI, Tags, Text Domain)
*/
a{color:#fff;}
body{background:#fff!important;}

.ubermenu .ubermenu-target-text{font-size:14px!important;}
 
.bottom-footer{background:#333!important;}
.top-footer{background:#333!important;}
#colophon{background:#333!important;}

@media (min-width:320px) {



#masthead{border-bottom:none; padding:0px; position:relative;}
.mid-content{width:100%;}
.middleblock{width:100%; margin:auto;    padding:0px;  }
.middlebox{width:100%; margin:auto;  padding:0px;  }
.middlebox_tabs{width:100%; height:120px; float:left; }
.middlebox_tabs ul{padding:0px!important; margin:0px!important; float:left;}
.middlebox_tabs li{padding:0px!important; margin:0px!important; float:left; list-style-type:none;}
.middlebox h2{ font-size:18px; padding:0px 0px 10px 0px; margin:0px 0px 10px 0px; color:#fff;  }
.middlebox h3{ font-size:17px; padding:4px 0px 0px 0px; margin:0px; color:#3d3d3d;  }
.banner{width:100%; float:left; }
body.parallax-on #masthead{position:relative;}
.parallax-section h1 span{display:none;}
.parallax-section h1{display:none;}
.parallax-section{padding:0px !important; margin:0px !important;}
.content_belowslide{width:100%;  float:left; background:#fff;  box-shadow: 5px 0px 3px #cc6b15; position:relative; z-index:99;}
.newsbar{width:100%; float:left; background:#d23a32;}
.newsmid{ width:100%; margin:auto; height:25px;}
.menu_main{padding:0px;  float:left; }
.menu_main ul{ padding:0px; margin:0px;}
.menu_main li{ padding:0px; margin:0px;}
.menu_mainmid{width:1100px; margin:auto;}
nav {padding:0px !important; margin:0px;}
nav ul {padding:0px; margin:0px;}
nav li {padding:0px; margin:0px;}

.policy{ padding:0px 0px 0px 0px;}
.policy  h3{ font-size:22px; text-align:center; padding:20px 0px 20px 0px;}
.policy  h2{ font-size:22px; text-align:left; padding:0px 0px 0px 0px;}

.initiative{width:600px; float:left; height:300px; padding:0px 0px 0px 20px; }
.initiative h3{font-size:20px; color:#f6d98a; float:left; padding:0px 0px 0px 0px;}
.initiative p{font-size:13px; color:#fff; float:left;}
.top_headermenu{width:100%; height:30px; float:left;  }
#colophon{background:#8b8b8b;}
.top-footer{background:#8b8b8b;}
.bottom-footer{background:#8b8b8b; padding:0px!important;}

.top_midhead{width:1100px; margin:auto; height:25px; background:#fff;  }
.top_leftmenu{float:left; }
.top_leftmenu ul {float:left; padding:0px!important; margin:0px!important; font-size:12px;}
.top_leftmenu li{float:left; padding:0px 10px 0px 0px!important;   margin:0px!important; font-size:12px;  color:#543333; list-style-type:none;}
.top_leftmenu img{height:25px!important; width:25px!important; padding:0px; margin:0px 3px 0px 3px;}
.grid figure{cursor:auto;}
.top_rightmenu{float:right; }
.top_rightmenu ul {float:left; padding:0px!important; margin:0px!important; font-size:12px;}
.top_rightmenu li{float:left; padding:0px 10px 0px 0px!important;   margin:0px!important; font-size:12px;  color:#543333; list-style-type:none;}
.top_rightmenu img{height:25px!important; width:25px!important; padding:0px; margin:0px 3px 0px 3px;}
.grid figure{cursor:auto;}
 
.midboxleft{width:700px; float:left; background:#666; height:200px;}
.uber{float:left; }

.top_menuheader{width:100%; float:left; margin-left: 40px;  }
.topsmallmenu{width:100%: float:right; height:25px;}
.topmainmenu{width:100%; float:right; height:47px; }

.contentpara_mid h3{text-align:center; padding:0px; margin:0px;}
.contentpara_left{width:100%; float:left;  margin:0px 0px 40px 0px;    }
.contentpara_left h3{font-size:20px; color:#1c9a95; text-align:left; padding:40px 0px 20px 0px; font-weight:bold; }
.contentpara_left p{font-size:13px;  }
.contentpara_left ul li{font-size:13px;  }
.contentpara_right{width:100%; float:left;  padding:0px 20px 20px 20px; margin:40px 0px 40px 0px; }
.paraaccomplished{width:100%; min-height:550px; background:#e34a40;  float:left; padding:20px 25px 20px 25px;}
.paraaccomplished h2{padding:10px 0px 0px 10px; float:left; font-weight:bold; color:#FFF;}
.accomplishedbox h3{ font-size:52px; padding:0px 0px 0px 0px!important; text-align:center; margin:0px 0px 0px 0px!important; color:#fff; font-weight:bold;}
.accomplishedbox p{ font-weight:15px; padding:5px 20px 0px 20px; text-align:center; color:#fff; line-height:18px;}
.accomplishedbox{width:100%; float:left; border:1px solid white; height:150px; margin:5px 0px 5px 0px; padding:0px 0px 0px 0px;}

.resource_content{width:100%; float:left; min-height:300px;  }
.resource_lists{width:100%; float:left; min-height:300px;    }
.resource_lists h3{margin:40px 0px 0px 0px;}

.resourcecontent{width:100%; float:left; }
.resourcecontent p{ font-size:13px!important; text-align:justify;}
.resourcelists{width:100%; float:left;  }
.resourcelists ul {float:left; width:100%;}
.resourcelists  li{float:left; width:100%; font-size:14px; list-style-type:none; padding:5px 0px 5px 10px; }
.resourcelists  h2{font-size:13px!important; font-weight:bold; padding:10px 0px 0px 0px;}
.resourcelists  p{font-size:12px!important;  }

.ubermenu-responsive-toggle, .ubermenu-sticky-toggle-wrapper{background:#666!important;}
.innerpage{width:100%; float:left; }
.innerboxpage{width:100%; margin:auto;}
#primary{width:100%!important; font-size:13px;}
.bannerbox{float:left; width:100%;}
 .bannerbox h3{font-size:32px; color:#000; text-align:center; font-weight:bold; padding:50px 0px 0px 0px;}
.bannerbox  p{font-size:15px; color:#000; text-align:center;}
.leftprimary{width:50%; float:left; text-align:left!important;}
.rightprimary{width:50%; float:left; text-align:left!important;}

.mentorntestimonial_area{width:100%; float:left; }
.mentorntestimonial_box{width:100%; margin:auto;    }
.mentorntestimonial_left{width:100%; float:left;     }
.mentorntestimonial_left h2{ float:left; color:#fff; padding:0px; margin:0px;  }
.mentorntestimonial_right{width:100%; float:left;    color:#fff!important;  }

.keytopperson{width:100%; float:left;padding:0px 0px 5px 0px;}
.keybottomperson{width:100%; float:left;padding:0px 0px 0px 0px;}
.keypersonbox{width:120px; float:left;   height:190px; margin:0px 10px 0px 20px;}
.personpic{width:100px; height:120px;   background:#fff; float:left; margin:0px 0px 0px 11%; }
.keypersonbox h2{width:100%; float:left; text-align:center; font-size:14px; color:#fff; font-weight:bold; }
.keypersonbox h3{width:100%; float:left; text-align:center; font-size:13px; color:#fff; }
.left_contentbox{width:100%; float:left;  }
.right_contentbox{width:100%; float:left;}
.right_contentbox h3{color:#d93a30; font-weight:bold;}


.innerpage{width:100%; float:left;  background:#fff;}
.innerboxpage{width:100%; margin:auto; background:none!important;}
#primary{width:100%!important; font-size:14px; background:none!important;}
.primarybox{width:100%; margin:auto;}

.hentry {background:none!important; padding:0px!important;}
.bannerbox{float:left; width:100%; border-bottom:1px solid #bcbcbc; margin:0px 0px 20px 0px; background:#d93a30;}
 .bannerbox h3{font-size:32px; color:#fff; text-align:center; font-weight:bold; padding:50px 0px 0px 0px;}
.bannerbox  p{font-size:15px; color:#fff; text-align:center;}
.leftprimary{width:50%; float:left; text-align:left!important;}
.rightprimary{width:50%; float:left; text-align:left!important; padding:0px 0px 0px 20px!important; }
.leftprimary textarea{width:100%!important; float:left;}
.leftprimary input{width:100%!important; float:left; padding:4px 0px 4px 0px;  }
.leftprimary label{width:100%!important; float:left; padding:4px 0px 4px 0px; font-size:14px;}
#section-600{height:400px;}
.ubermenu-skin-clean-white .ubermenu-submenu, .ubermenu-skin-clean-white .ubermenu-submenu .ubermenu-target{color:#fff!important;}


.registrationpagetop{width:100%; float:left; height:250px; padding:0px 0px 10px 0px; margin:0px 0px 10px 0px; }
.topboxpoints{width:100%; height:250px;   float:left;  margin:10px 10px 10px 10px;  font-size:17px; font-weight:bold; text-align:center;}
.topboxpoints i{font-size:30px; color:#e34a40;}
 

.registerboxfull{width:100%; float:left; background:#fff;}
.registerboxfull_box{width:100%; margin:auto; height:400px;  }

.registerboxfull_box h3{font-size:20px; color:#e34a40; text-align:center; font-weight:bold;}
.registerboxfull_box ul{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; }
.registerboxfull_box li{float:left; list-style-type:none; color:#666;  }
.registerboxfull_box li h2{float:left; font-size:21px; font-weight:bold;  width:100%;}
.registerboxfull_box li p{float:left; font-size:14px;}

.left_contentbox{width:100%; float:left; }
.right_contentbox{width:100%; float:left;}
.right_contentbox h3{color:#d93a30; font-weight:bold;}
#wpsm_accordion_487 .ac_title_class{border-bottom:1px solid #f1f1f1!important;}
.tlp-team .layout1 .tlp-content{background:#03bf9e!important;}

.register_buttn{position:relative; top:10px; left:43%; z-index:9999; height:540px; float:left; color:#fff; background:#ea3327; border-radius:25px; border:2px solid; border-color:rgba(0,0,0, 0.2);}
.button{ background:#ea3327; color:#fff; }
.button:hover{ background:#000; color:#fff; }
.button:active{ background:#ea3327; color:#000; }
.newsupdates{width:100%;float:left;  padding:0px 3px 3px 3px;}
.news_thumb{width:81px height:82px; float:left;}
.news_content{width:250px; float:left; font-size:13px; padding:0px 0px 0px 4px; }



}
@media (min-width:786px) {

body.parallax-on #masthead{position:fixed;}
.parallax-section{padding:0px; margin:0px;}

}
@media (min-width:1025px) {
body{background:#fff; font-family: 'Lato', sans-serif!important;}
.menutopheader{ width:100%; float:left; height:40px;  margin:0px 0px 0px 0px; background:#fff; position:fixed; z-index:999999; }
.menureal{width:1100px; margin:auto;  font-size:13px!important; }
#masthead{border-bottom:none; padding:0px 0px 5px 0px; -webkit-box-shadow: 0px 1px 5px 0px rgba(150,150,150,1);
-moz-box-shadow: 0px 1px 5px 0px rgba(150,150,150,1);
box-shadow: 0px 1px 5px 0px rgba(150,150,150,1);}
.mid-content{width:100%;}
.middleblock{width:1100px; margin:auto;    padding:0px;  }
.middlebox{width:1100px; margin:auto; height:120px;   padding:0px;  }

.middlebox_tabs{width:100%;   float:left;  }
.middlebox ul{padding:0px!important; margin:0px!important; float:left; width:150px; }
.middlebox li{padding:10px 10px 0px 10px!important; margin:0px!important; font-size:13px; float:left; list-style-type:none; width:270px;  }
.middlebox h2{ font-size:18px; padding:0px 0px 10px 0px; margin:0px 0px 10px 0px; color:#fff;  }
.middlebox h3{ font-size:20px; padding:4px 0px 0px 0px; margin:0px; color:#fff; }
body.parallax-on #masthead{position:fixed; -webkit-box-shadow: 0px 1px 5px 0px rgba(150,150,150,1);
-moz-box-shadow: 0px 1px 5px 0px rgba(150,150,150,1);
box-shadow: 0px 1px 5px 0px rgba(150,150,150,1);}
.banner{width:100%;   float:left; }
.parallax-section h1 span{display:none;}
.parallax-section h1{display:none;}
.parallax-section{padding:0px !important; margin:0px !important;}
.content_belowslide{width:100%;  float:left; background:#fff; box-shadow: 5px 0px 3px #cc6b15; position:relative; z-index:99;}
.contentparalax{ width:100%; float:left; background:#fff;}
.contentpara_mid{width:1150px; margin:auto;   }
.contentpara_mid h3{text-align:center; padding:0px; margin:0px;}
.contentpara_left{width:800px; float:left;  margin:0px 0px 40px 0px;    }
.contentpara_left h3{font-size:20px; color:#1c9a95; text-align:left; padding:40px 0px 20px 0px; font-weight:bold; }
.contentpara_left p{font-size:13px;  }
.contentpara_left ul li{font-size:13px;  }
.contentpara_right{width:300px; float:left;  padding:0px 20px 20px 20px; margin:40px 0px 40px 0px; }
.paraaccomplished{width:100%; min-height:550px; background:#e34a40;  float:left;}
.newsbar{width:100%; float:left; height:5px; background:#4abdac;  }
.newsmid{ width:1100px; margin:auto; height:25px;color:#fff; font-size:13px;}
.menu_main{padding:0px !important;  width:100%;  float:left; background:#fff; margin:5px 0px 0px 0px; border-top:1px solid #fc1635; }
.menu_main ul{ padding:0px  ; margin:0px ;}
.menu_main li{ padding:3px 0px 3px 0px  ; margin:0px 20px 0px 0px ; font-family: 'Ubuntu', sans-serif; }
.menu_mainmid{width:1100px; margin:auto; background:#fff;}
nav {padding:0px  ; margin:0px ;}
nav ul {padding:0px  ; margin:0px ;}
nav li {padding:0px  ; margin:0px ;}

.ubermenu .ubermenu-colgroup .ubermenu-column, .ubermenu .ubermenu-custom-content-padded, .ubermenu .ubermenu-nonlink, .ubermenu .ubermenu-retractor, .ubermenu .ubermenu-submenu-padded, .ubermenu .ubermenu-submenu-type-stack > .ubermenu-item-normal > .ubermenu-target, .ubermenu .ubermenu-target, .ubermenu .ubermenu-widget, .ubermenu-responsive-toggle{padding:0px ; margin:0px ; }

.policy{ padding:0px 0px 0px 0px;}
.policy  h3{ font-size:22px; text-align:center; padding:20px 0px 20px 0px;}
.initiative{width:600px; float:left;   padding:0px 0px 0px 20px; }
.initiative h3{font-size:20px; color:#f6d98a; float:left; padding:0px 0px 10px 0px;}
.initiative p{font-size:13px; color:#fff; float:left;}

.testimonials-slidelist.design-3 .testimonial-inner, .testimonials-list.design-3 .testimonial-inner, .testimonials-slide-widget.design-3 .testimonial-inner{box-shadow:2px 2px 10px #666;}
.top_headermenu{width:100%; height:30px; float:left;  }
 
.top_midhead{width:1100px; margin:auto; height:25px; background:#fff;  }
.top_leftmenu{float:left; }
.top_leftmenu ul {float:left; padding:0px!important; margin:0px!important; font-size:12px;}
.top_leftmenu li{float:left; padding:0px 10px 0px 0px!important;   margin:0px!important; font-size:12px;  color:#543333; list-style-type:none;}
.top_leftmenu img{height:25px!important; width:25px!important; padding:0px; margin:0px 3px 0px 3px;}
.grid figure{cursor:auto;}
.top_rightmenu{float:right; }
.top_rightmenu ul {float:left; padding:0px!important; margin:0px!important; font-size:12px;}
.top_rightmenu li{float:left; padding:0px 10px 0px 0px!important;   margin:0px!important; font-size:12px;  color:#543333; list-style-type:none;}
.top_rightmenu img{height:25px!important; width:25px!important; padding:0px; margin:0px 3px 0px 3px;}
.grid figure{cursor:auto;}

#colophon{background:#8b8b8b;}
.top-footer{background:#8b8b8b;}
.bottom-footer{background:#8b8b8b; padding:0px!important;}


.menubox_tab{ width:200px; float:left; padding:0px 5px 0px 5px;  }
.menu_full{width:100%; float:left;}
.menu_center{width:1100px; margin:auto;}
.menu_center h2{font-size:17px; color:#818181;}
.menu_center p{font-size:13px; color:#818181;}

.menulistarea{color:#666; font-size:13px; float:left; }
.menulistarea ul{ float:left; margin:0px 0px 0px 50px;}
.menulistarea li{color:#666; padding:5px 0px 5px 0px;}
.askforquote{width:200px; float:left; color:#666; padding:0px 0px 0px 0px; }
.askforquote h2{color:#666; line-height:25px; font-size:25px;}
.askforquote h3{color:#666; line-height:25px; font-size:25px!important;}

.ubermenu-main .ubermenu-submenu.ubermenu-submenu-drop{background:rgba(32,32,32,0.9)!important;}

.ubermenu-main .ubermenu-item-level-0 > .ubermenu-target{padding:0px 10px 10px 10px; margin:10px 0px 0px 0px;}

.midboxleft{width:700px; float:left; background:#666; height:200px;}
.uber{float:right; margin:18px 0px 0px 0px; width:100%;  }

.top_menuheader{width:50%; float:left; margin-left: 40px;  }
.topsmallmenu{width:100%;float:right; height:25px; }
.toprightmenu{float:right;}
.topmainmenu{width:100%; float:right; height:47px; }

.mentorntestimonial_area{width:100%; float:left; }
.mentorntestimonial_box{width:1100px; margin:auto; padding:0px 0px 20px 0px;   }
.mentorntestimonial_left{width:700px; float:left;     }
.mentorntestimonial_left h2{ float:left; color:#fff; padding:0px 0px 0px 0px; margin:0px;  }
.mentorntestimonial_right{width:400px; float:left;    color:#fff!important;  }

.events{width:100%; float:left; }
.eventbox{width:1100px; margin:auto; height:400px;    }
.eventa{width:350px; height:564px; float:left; background:#d93a30; margin:5px;}
.eventa button{color:#fff; background:#ad2017; border:1px solid #f55147; margin:0px 0px 0px 100px;}
.eventa h2{padding:20px 0px 0px 20px; color:#fff;}
.upcomingbox{width:100%; padding:10px 0px 0px 0px; height:200px; float:left; color:#fff;}
.upcomingbox h3{font-size:16px; float:left; margin:0px 0px 10px 20px; }
.upcomingbox h2{font-size:13px; float:left; margin:0px 0px 0px 10px; }
.upcomingbox p{font-size:13px; float:left;  margin:0px 0px 0px 10px; }
.eventb{width:337px; height:187px; float:left; margin:5px; background:#fff;}
.eventc{width:337px; height:370px; float:left; margin:5px; background:#fff;}
.eventc h2{padding:20px 0px 0px 20px; color:#1eaedd; font-weight:bold;}
.eventholder{width:337px; float:left; margin:0px 5px 0px 5px;}
.eventd{width:337px; height:370px; float:left; margin:5px; background:#fff;}
.eventd h2{padding:20px 0px 0px 20px; color:#d93a30; font-weight:bold;}
.evente{width:337px; height:185px; float:left; margin:5px; background:#fff;}
.eventf{width:337px; height:180px; float:left; margin:5px; background:#fff;}
.social-feed-container-330{width:337px!important;}
.grid-item{width:337px!important; padding:0px 3px 0px 3px!important;}
.grid-news-thumb img{width:80px!important; height:80px!important; }
.grid-news-thumb{background:none!important; padding:0px 0px 0px 4px!important;}
.grid-news-thumb{height:auto!important;}
.news-thumb{padding-bottom:0px!important; margin-bottom:0px!important;}
.news-col-1, .news-col-list{padding:0px!important;}
.news .news-title a{font-size:13px!important;}
.news-more-link{display:none!important;}
.news{margin:0px!important; padding:0px!important; }
.news .news-title h3{font-size:13px!important;}
.news .news-title{font-size:13px!important;}
.social-feed-element .content{padding:0px!important;}
.social-feed-container-330 .social-feed-element{box-shadow:none!important;}
.resource_content{width:800px; float:left; min-height:300px;  }
.resource_lists{width:300px; float:left; min-height:300px;   }
.resource_lists h3{margin:40px 0px 0px 0px;}
.resource_lists button{margin:10px 0px 0px 90px; background:#d93a30; color:#fff;}

.resourcecontent{width:300px; float:left; }
.resourcecontent p{ font-size:13px!important; text-align:justify;}
.resourcelists{width:500px; float:left;  }
.resourcelists ul {float:left; width:230px;}
.resourcelists  li{float:left; width:100%; font-size:14px; list-style-type:none; padding:5px 0px 5px 10px; }
.resourcelists  h2{font-size:13px!important; font-weight:bold; padding:10px 0px 0px 0px;}
.resourcelists  p{font-size:12px!important;  }
.keytopperson{width:100%; float:left;padding:0px 0px 5px 30%;}
.keybottomperson{width:100%; float:left;padding:0px 0px 10px 0px;}
.keypersonbox{width:130px; float:left;   height:190px; margin:0px 10px 0px 20px;}
.personpic{width:100px; height:120px;   background:#fff; float:left; margin:0px 0px 0px 11%; }
.keypersonbox h2{width:100%; float:left; text-align:center; font-size:14px; color:#fff; font-weight:bold; }
.keypersonbox h3{width:100%; float:left; text-align:center; font-size:13px; color:#fff; }


.menulistarea{color:#666; font-size:13px; float:left; }
.menulistarea ul{ float:left; margin:0px 0px 0px 50px;}
.menulistarea li{color:#666; padding:5px 0px 5px 0px;}
.askforquote{width:200px; float:left; color:#666; padding:0px 0px 0px 0px; }
.askforquote h2{color:#666; line-height:25px; font-size:25px;}
.askforquote h3{color:#666; line-height:25px; font-size:25px!important;}

 

.menubox_tab{ width:200px; float:left; padding:0px 5px 0px 5px;  }
.menu_full{width:100%; float:left;}
.menu_center{width:100%; margin:auto;}
.menu_center h2{font-size:17px; color:#818181;}
.menu_center p{font-size:13px; color:#818181;}
.arrowarea{width:100%; float:left; height:20px;}
.bottomarrow{width:28px; height:18px; margin:auto; position:relative; top:-6px;}


.innerpage{width:100%; float:left;  background:#fff;}
.innerboxpage{width:100%; margin:auto; background:none!important;}
#primary{width:100%!important; font-size:14px; background:none!important;}
.primarybox{width:1100px; margin:auto;}

.hentry {background:none!important; padding:0px!important;}
.bannerbox{float:left; width:100%; border-bottom:1px solid #bcbcbc; margin:0px 0px 20px 0px; background:#b10a0a; height:103px;}
 .bannerbox h3{font-size:32px; color:#fff; text-align:center; font-weight:bold; padding:50px 0px 0px 0px;}
.bannerbox  p{font-size:15px; color:#fff; text-align:center;}
.leftprimary{width:50%; float:left; text-align:left!important;}
.rightprimary{width:50%; float:left; text-align:left!important; padding:0px 0px 0px 20px!important; }
.leftprimary textarea{width:100%!important; float:left;}
.leftprimary input{width:100%!important; float:left; padding:4px 0px 4px 0px;  }
.leftprimary label{width:100%!important; float:left; padding:4px 0px 4px 0px; font-size:14px;}
#section-600{height:400px;}
.ubermenu-skin-clean-white .ubermenu-submenu, .ubermenu-skin-clean-white .ubermenu-submenu .ubermenu-target{color:#fff!important;}


.registrationpagetop{width:100%; float:left; height:250px; padding:0px 0px 10px 70px; margin:0px 0px 10px 0px; }
.topboxpoints{width:300px; height:250px;   float:left;  margin:10px 10px 10px 10px;  font-size:17px; font-weight:bold; text-align:center;}
.topboxpoints i{font-size:30px; color:#e34a40;}
 

.registerboxfull{width:100%; float:left; background:#fff;}
.registerboxfull_box{width:1100px; margin:auto; height:400px;  }

.registerboxfull_box h3{font-size:20px; color:#e34a40; text-align:center; font-weight:bold;}
.registerboxfull_box ul{width:500px; float:left; margin:0px 0px 0px 50px; padding:0px 0px 0px 70px; }
.registerboxfull_box li{float:left; list-style-type:none; color:#666;  }
.registerboxfull_box li h2{float:left; font-size:21px; font-weight:bold;  width:100%;}
.registerboxfull_box li p{float:left; font-size:14px;}

.left_contentbox{width:600px; float:left; }
.left_contentbox p{width:600px; float:left; font-size:14px!important; padding:0px 50px 0px 0px; text-align:justify; }
.right_contentbox{width:500px; float:left;}
.right_contentbox h3{color:#d93a30; font-weight:bold;}
.right_contentbox h2{color:#000; font-weight:bold; font-size:12px!important;}
#wpsm_accordion_487 .ac_title_class{border-bottom:1px solid #f1f1f1!important;}
.tlp-team .layout1 .tlp-content{background:#03bf9e!important;}

.register_buttn{position:relative; top:490px; left:43%; z-index:9999; height:50px; float:left; color:#fff; background:#ea3327; border-radius:25px; -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s; border:2px solid; border-color:rgba(0,0,0, 0.2);}
.button{ background:#ea3327; color:#fff; }
.button:hover{ background:#000; color:#fff; }
.button:active{ background:#ea3327; color:#000; }
.newsupdates{width:100%;float:left;  padding:0px 3px 3px 3px;}
.news_thumb{width:81px height:82px; float:left;}
.news_content{width:250px; float:left; font-size:13px; padding:0px 0px 0px 4px; }

.textwidget {font-size:13px;}
.footer-blockmenu{width:30%; float:left; }





 
}


@media (min-width:1920px){
#masthead{border-bottom:none; padding:0px;}
.mid-content{width:100%;}
.middleblock{width:1100px; margin:auto;    padding:0px;  }
.middlebox{width:1100px; margin:auto;    padding:0px;  }
.middleblock_tabs{width:100%; height:120px; float:left;  }
.middlebox ul{padding:0px!important; margin:0px!important; float:left; width:150px;}
.middlebox li{padding:10px 10px 0px 10px!important; margin:0px!important; font-size:13px; float:left; height:130px;  list-style-type:none; width:270px;  }
.middlebox h2{ font-size:13px; padding:0px; margin:0px; color:#d24d05; font-family: 'Droid Serif', serif;}
.middlebox h3{ font-size:11px; padding:4px 0px 0px 0px; margin:0px; color:#3d3d3d; font-family: 'Droid Serif', serif;}
.banner{width:100%;  float:left; }
body.parallax-on #masthead{position:relative;}
.parallax-section h1 span{display:none;}
.parallax-section h1{display:none;}
.parallax-section{padding:0px!important; margin:0px !important;}
.content_belowslide{width:100%;  float:left; background:#fff;  box-shadow: 5px 0px 3px #cc6b15; position:relative; z-index:99;  }
.contentparalax{ width:100%; float:left; min-height:300px; background:#fff;}
.contentpara_mid{width:1150px; margin:auto;    }
.contentpara_mid h3{text-align:center; padding:0px; margin:0px;}
.contentpara_left{width:700px; float:left;  }
.contentpara_right{width:400px; float:left;  }
.newsbar{width:100%; float:left; background:#d23a32;}
.newsmid{ width:1100px; margin:auto; height:25px; color:#fff; font-size:13px;}
.menu_main{padding:0px !important;  width:100%;  float:left; background:#fff;  border-top:1px solid #e9e9e9; }
.menu_main ul{ padding:0px !important; margin:0px!important;}
.menu_main li{ padding:3px 0px 3px 0px !important; margin:0px 20px 0px 0px!important;}
.menu_mainmid{width:1100px; margin:auto;}
nav {padding:0px !important; margin:0px!important;}
nav ul {padding:0px !important; margin:0px!important;}
nav li {padding:0px !important; margin:0px!important;}

.policy{ padding:0px 0px 0px 0px;}
.policy  h3{ font-size:22px; text-align:center; padding:20px 0px 20px 0px;}
.initiative{width:600px; float:left;  padding:0px 0px 0px 20px; }
.initiative h3{font-size:20px; color:#f6d98a; float:left; padding:0px 0px 10px 0px;}
.initiative p{font-size:13px; color:#fff; float:left;}

.top_headermenu{width:100%; height:30px; float:left;  }

.top_midhead{width:1100px; margin:auto; height:25px; background:#fff;  }
.top_midhead ul {float:left; padding:0px!important; margin:0px!important; font-size:12px;}
.top_midhead li{float:left; padding:0px 10px 0px 0px!important;   margin:0px!important; font-size:12px;  color:#543333; list-style-type:none;}
.top_midhead img{height:25px!important; width:25px!important; padding:0px; margin:0px 3px 0px 3px;}

.grid figure{cursor:auto;}
#colophon{background:#8b8b8b;}
.top-footer{background:#8b8b8b;}
.bottom-footer{background:#8b8b8b;}




}































.ib-container{
	position: relative;
	width: 100%;
	margin: 30px auto;
	display: block;
}
.ib-container:before,
.ib-container:after {
    content:"";
    display:table;
}
.ib-container:after {
    clear:both;
}
.ib-container article{
	display: block;
	width: 245px;
	height: 370px;
	background: #fff;
	cursor: default;
	float: left;
	border: 10px solid #fff;
	text-align: left;
	text-transform: none;
	margin: 15px;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	box-shadow: 
		0px 0px 0px 10px rgba(255,255,255,1), 
		1px 1px 3px 10px rgba(0,0,0,0.2);
	-webkit-transition: 
		opacity 0.4s linear, 
		-webkit-transform 0.4s ease-in-out, 
		box-shadow 0.4s ease-in-out;
	-moz-transition: 
		opacity 0.4s linear, 
		-moz-transform 0.4s ease-in-out, 
		box-shadow 0.4s ease-in-out;
	-o-transition: 
		opacity 0.4s linear, 
		-o-transform 0.4s ease-in-out, 
		box-shadow 0.4s ease-in-out;
	-ms-transition: 
		opacity 0.4s linear, 
		-ms-transform 0.4s ease-in-out, 
		box-shadow 0.4s ease-in-out;
	transition: 
		opacity 0.4s linear, 
		transform 0.4s ease-in-out, 
		box-shadow 0.4s ease-in-out;

}
.ib-container h3 a{
	font-size: 16px;
	font-weight: 400;
	color: #000;
	color: rgba(0, 0, 0, 1);
	text-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
	opacity: 0.8;
}
.ib-container h2 a{
	font-size: 16px;
	font-weight: 400;
	color: #000;
	color: rgba(0, 0, 0, 1);
	text-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
	opacity: 0.8;
}
.ib-container article header span{
	font-size: 14px;
	 
	padding: 10px 0;
	display: block;
	color: #FFD252;
	color: rgba(0, 0, 0, 1);
	text-shadow: 0px 0px 0px rgba(255, 210, 82, 1);
	 
	opacity: 0.8;
}
.ib-container article p{
	font-family: Verdana, sans-serif;
	font-size: 10px;
	line-height: 13px;
	color: #333;
	color: rgba(51, 51, 51, 1);
	text-shadow: 0px 0px 0px rgba(51, 51, 51, 1);
	opacity: 0.8;
}
.ib-container h3 a,
.ib-container article header span,
.ib-container article p{
	-webkit-transition: 
		opacity 0.2s linear, 
		text-shadow 0.5s ease-in-out, 
		color 0.5s ease-in-out;
	-moz-transition: 
		opacity 0.2s linear, 
		text-shadow 0.5s ease-in-out, 
		color 0.5s ease-in-out;
	-o-transition: 
		opacity 0.2s linear, 
		text-shadow 0.5s ease-in-out, 
		color 0.5s ease-in-out;
	-ms-transition: 
		opacity 0.2s linear, 
		text-shadow 0.5s ease-in-out, 
		color 0.5s ease-in-out;
	transition: 
		opacity 0.2s linear, 
		text-shadow 0.5s ease-in-out, 
		color 0.5s ease-in-out;
}

.ib-container h2 a,
.ib-container article header span,
.ib-container article p{
	-webkit-transition: 
		opacity 0.2s linear, 
		text-shadow 0.5s ease-in-out, 
		color 0.5s ease-in-out;
	-moz-transition: 
		opacity 0.2s linear, 
		text-shadow 0.5s ease-in-out, 
		color 0.5s ease-in-out;
	-o-transition: 
		opacity 0.2s linear, 
		text-shadow 0.5s ease-in-out, 
		color 0.5s ease-in-out;
	-ms-transition: 
		opacity 0.2s linear, 
		text-shadow 0.5s ease-in-out, 
		color 0.5s ease-in-out;
	transition: 
		opacity 0.2s linear, 
		text-shadow 0.5s ease-in-out, 
		color 0.5s ease-in-out;
}




/* Hover Style for all the items: blur, scale down*/
.ib-container article.blur{
	box-shadow: 0px 0px 20px 10px rgba(255,255,255,0.3);
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-o-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
	opacity: 0.7;
}
.ib-container article.blur h3 a{
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
	color: rgba(0, 0, 0, 0);
	opacity: 0.5;
}

.ib-container article.blur h2 a{
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
	color: rgba(0, 0, 0, 0);
	opacity: 0.5;
}
.ib-container article.blur header span{
	text-shadow: 0px 0px 10px rgba(255, 210, 82, 0.9);
	color: rgba(255, 210, 82, 0);
	opacity: 0.5;
}
.ib-container article.blur  p{
	text-shadow: 0px 0px 10px rgba(51, 51, 51, 0.9);
	color: rgba(51, 51, 51, 0);
	opacity: 0.5;
}

/* Hover Style for single item: scale up */
.ib-container article.active{
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
	box-shadow: 
		0px 0px 0px 10px rgba(255,255,255,1), 
		1px 11px 15px 10px rgba(0,0,0,0.4);
	z-index: 100;	
	opacity: 1;
}
.ib-container article.active h3 a,
.ib-container article.active header span,
.ib-container article.active p{
	opacity; 1;
}
.ib-container article.active h2 a,
.ib-container article.active header span,
.ib-container article.active p{
	opacity; 1;
}

article a{color:#666;}
article a:hover{color:#e34a40;}


#jquery-script-menu {
position: fixed;
height: 90px;
width: 100%;
top: 0;
left: 0;
border-top: 5px solid #316594;
background: #fff;
-moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
-webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
z-index: 999999;
padding: 10px 0;
-webkit-box-sizing:content-box;
-moz-box-sizing:content-box;
box-sizing:content-box;
}

.jquery-script-center {
width: 960px;
margin: 0 auto;
}
.jquery-script-center ul {
width: 212px;
float:left;
line-height:45px;
margin:0;
padding:0;
list-style:none;
}
.jquery-script-center a {
	text-decoration:none;
}
.jquery-script-ads {
width: 728px;
height:90px;
float:right;
}
.jquery-script-clear {
clear:both;
height:0;
}





/*---------------*/
/***** Ming *****/
/*---------------*/

figure.effect-ming {
	background: #030c17;
}

figure.effect-ming img {
	opacity: 0.9;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-ming figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
          border-radius:50%;
	border: 2px solid #fff;
	box-shadow: 0 0 0 30px rgba(255,255,255,0.2);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1.4,1.4,1);
	transform: scale3d(1.4,1.4,1);
}

figure.effect-ming h2 {
	margin: 20% 0 10px 0;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-ming p {
	padding: 1em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

figure.effect-ming:hover h2 {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
}

figure.effect-ming:hover figcaption::before,
figure.effect-ming:hover p {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

figure.effect-ming:hover figcaption {
	background-color: rgba(58,52,42,0);
}

figure.effect-ming:hover img {
	opacity: 0.4;
}


 