body{
	color: #000
}

.tab-pane,
.tab-pane-nb{
	font-weight: bold;
}

#startDateForm{
	color: #000 !important;
}

.modal-opepa-header{
	background-color: #0f3e12;
	color: #fff;
	text-align: center
}

.pos-btn{
	text-align:  center
}

 /* custom  fieldset */
fieldset {
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    min-width: -webkit-min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}

legend {
    display: block;
    width: Auto;
    padding: 0;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: inherit;
    color: #333;
    border: 0;
}

/*file upload*/

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn-file {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}



/* radio buttons */

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #000;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #585f6d;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #0f3e12;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

 /* custom  fieldset */
fieldset {
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    min-width: -webkit-min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}

legend {
    display: block;
    width: Auto;
    padding: 0;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: inherit;
    color: #333;
    border: 0;
}

/* .dropdown-menu {
    background-color: #ffffff !important;
} */


.alert-button{
	border-color: #777;
	color: red;
}

.blink{
	animation: blinking 1s forwards infinite;
}

@keyframes blinking{
	0%{
		color: red;
	}
	50%{
		color: #000;
	}
	100%{
		color: red;
	}
}

.alert-button:hover{
	animation-state : paused;
}

hr{
    border-top: 1px solid #585f6d;
    margin-top: 0px;
    margin-bottom: 10px;
}

.appear{
	display: block;
	animation: appear-in forwards 1 1s;
}

@keyframes appear-in{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

.scrollStyle
{
overflow-x:auto;
}

.pickdate{
    text-align: center
}

/* Style for modal */
.tab-head,
.tab-head-nb{
    padding-top: 1%;
    text-align: center
}

.tab-content > .tab-pane,
.tab-content-nb > .tab-pane-nb {
    padding: 15px;
    background: #fff;
    border: 1px solid #232d41;
    margin-bottom: 15px;
    color: #232d41;
    width: 80%;
    margin: 0 auto
}

.tab-head .list-group button,
.tab-head-nb .list-group button{
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding-top: 10px;
    width: 80px;
    height:	70px;
    background-color: #17460C;
    display: inline-block;
    font-size: 11px;
    line-height: normal;
    padding-top: 6px;
}

.tab-head .list-group button.active,
.tab-head-nb .list-group button.active{
    background-color: red;
    transform: scale(1.2);
    box-shadow: 0 10px 6px -6px #272623;
    transition-duration: 0.1s;
    border-color: red;
    border-radius: 0;
    outline: none;
}

.tab-head .list-group button p,
.tab-head-nb .list-group button p{
    color: #fff;
    width: 41px;
    margin-top: 10px;
}

.tab-head .list-group button span,
.tab-head-nb .list-group button span{
	margin: 0 auto;
	display: none
}

.tab-content,
.tab-content-nb{
    margin-top: 30px !important;
    background-color: transparent;
    margin: 0 auto;
    width: 100%;
    border-radius: 3px;
    padding: 1% 2%;
}

.tab-content-nb>.tab-pane-nb.active{
	display: block;
}

.tab-content-nb>.tab-pane-nb{
	display: none;
}

@media (max-width: 1200px) {
   .modal-lg {
   		width: 600px
	}	
	
}

@media (min-width: 1024px) {
   .append-cards {
   		width: 740px !important;
   		
	}	
	
}

@media (max-width: 768px) {
	/* .append-cards{
		margin: 0 auto;
		display: inline-grid !important;
		grid-template-columns: 50% 50%;
  		grid-template-rows: auto;
	} */
	.append-cards{
		margin: 0 auto;
		display: table;
	}
	
	.testcard{
		margin: 0 auto;
		display: table !important;
	}
}

@media (max-width: 767px){
	.tab-head-nb{
    padding-top: 1%;
    padding-bottom: 95%;
    text-align: center
	}
	.tab-head{
    padding-top: 1%;
    padding-bottom: 40%;
    text-align: center
	}
	
	.amount_div{
		padding: 0;
		border-bottom: solid 1px #000;
	}
}

@media (min-width: 995px){
	.append-cards{
		width: 740px !important
	}
	
	
    .containerr {
        width: 100%;
    }
    
    .modal-lg {
   		width: 1200px
	}

}

@media (max-width: 994px) {
	.append-cards{
		width: auto !important
	}
	
	.list-group{
	    margin-bottom: 75%;
	    margin-top: 35%;
    }
	
	#myProgress, #myBar,
	#myProgressNonBuilding, #myBarNonBuilding{
		display: block;
	}
	
    .tab-head .list-group button,
    .tab-head-nb .list-group button{
        display: block;
        margin-bottom: 15px;
        width: 90px;
	    height: 60px;
	    border-color: #17460C;
	    background-color: #fff;
	    margin-bottom: 0;
	    border-bottom:0;
	    color: #17460C;
	    border-radius: 0;
    }
   
     .list-group-item:last-child{
    	border-bottom: solid 1px !important;
    }
     
    .tab-head .list-group button span,
    .tab-head-nb .list-group button span{
     	display: block;
     }
     
     .tab-head .list-group button p,
     .tab-head-nb .list-group button p{
     	font-size: 12px;
     	color: #17460C;
     	border: 0 !important;
     	margin: 0 auto;
     }
     
	.tab-head .list-group button.active,
	.tab-head-nb .list-group button.active {
	    background-color: red;
	    transform: scale(1.2);
	    box-shadow: 0 2px 10px #272623;
	    transition-duration: 0.1s;
	    border-color: red;
	    border-radius: 0;
	    color: #fff;
	}
	
	.tab-head .list-group button.active p,
	.tab-head-nb .list-group button.active p{
		color: #fff
	}

    .containerr{
        padding: 0;
        display: 0;
        display: flex;
        width: 100%;    
    }

    .tab-content,
    .tab-content-nb{
        position: fixed;
        width: 80%;
        margin-left: 10%;
        
    }
    
    .tab-content .tab-pane,
    .tab-content-nb .tab-pane-nb{
    	margin-left: 10%;
    	width: 100%;
    }
    
}

@media (max-width: 688px) {
	.tab-head .list-group button,
    .tab-head-nb .list-group button{
        display: block;
        margin-bottom: 15px;
        width: 90px;
	    height: 40px;
	    border-color: #17460C;
	    background-color: #fff;
	    margin-bottom: 0;
	    border-bottom:0;
	    color: #17460C;
    }
	.modal-lg {
   		width: auto !important;
	}
    
    .tab-head ul li,
    .tab-head-nb ul li{
        display: block;
        margin-bottom: 15px;
    } 
    
  	.tab-head .list-group button span,
    .tab-head-nb .list-group button span{
     	display: none;
     }
     
    .containerr{
        display: flex;
        margin-top: -20px;
    }

    .tab-content,
    .tab-content-nb{
        position: fixed;
        width: 60%;
        margin-left: 25%;
    }
    
   .testcard{
		width: 100% !important;
		height: auto;
		padding: 10px;
		background-color: pink;
		margin-bottom: 20px;
		border-radius: 4%;
		display: table;
	}
	
	.amount_div{
		padding: 0;
		border-bottom: solid 1px #000 !important;
	}
}

.content-text{
    overflow: hidden;
}

.slide-in{
    animation: slide-inwards .8s 1 forwards;
}

@keyframes slide-inwards{
    0%{
        transform: opacity(0);
    }
    100%{
        transform: opacity(1);
    }
}

#myProgress,
#myProgressNonBuilding {
    width: 100%;
    background-color: grey;
    margin-bottom: 5px;
}

#myBar,
#myBarNonBuilding {
    width: 10%;
    height: 30px;
    background-color: green;
}
#progressLabel,
#progressLabelNonBuilding{
	color: #fff;
	margin-top: 7px;
    margin-left: 10px;

}

.progress-bar,
.progress-barNonBuilding{
	height: auto !important
}

.filter-wrap{
	background-color: #9de29d;
	padding: 5%;
	margin: 0 auto;
	display: table;
	margin-bottom: 15px
}

.filter-wrap:hover{
	box-shadow: 0 5px 5px -2px #574f46;
}
.ml-5{
	margin-left:5px;
}
.project-border{
	margin-left: 5px;
    border: 0
}
.flex{
	display: flex
}

.append-cards{
	margin: 0 auto;
	display: table;
	width: auto
}

.testcard{
	width: 350px;
	height: auto;
	padding: 10px;
	background-color: #9de29d;
	margin-top: 20px;
	margin-right: 20px;
	border-radius: 4%;
	display: inline-block;
	transform: scale(0.99);
}

.testcard .card-img-top{
	text-align: center;
	padding: 2%;
	font-size: 40px;
	color: #000;
}

.testcard .card-img-top .card-header{
	text-align: right;
	padding: 1%;
	font-variant: small-caps;
	font-weight: 700;
	font-size: 15px;
}

.testcard .card-body{
	color: #000
}

.testcard .card-footer{
	text-align: right;
	padding: 1%
}

.footer-mute-text{
	float: left;
	color: green;
	font-weight: bold
}

.testcard:hover{
	box-shadow: 0 5px 5px -2px #574f46;
	transform: scale(1);
	transition-duration: 0.3s;
}

.amount_div{
	border-right: none;
	padding: 0;
	border-bottom: none;
}

.option_div{
	padding: 0;
	margin-top: 10px;
}

.text-background{
    background-color: gainsboro;
    padding: 1px;
    padding-left: 4px;
    padding-right: 4px;
    width: fit-content;
}

/* gps checkbox */

.gps-chk-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.gps-chk-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: solid 2px #000;
    border-radius: 100%
}

/* On mouse-over, add a grey background color */
.gps-chk-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
/* .gps-chk-container input:checked ~ .checkmark {
    background-color: #2196F3;
} */

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.gps-chk-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.gps-chk-container .checkmark:after {
    left: 7px;
    top: -2px;
    width: 3px;
    height: 19px;
    background-color: #000;
    border-width: 0 3px 3px 0;
    border-radius: 100%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.chk-label{
    display: block;
    padding-top: 1.5px;
}

.onselection> .col-sm-6{
	padding: 0
}

.geo-location-status{
	float: left;
	font-size: smaller;
}

.detailsOfProject{
	border: solid 1px #000;
	font-size: 12px;
	padding: 2px;
	clear: both;
}

.detailsOfProject span{
	font-weight: bold;
}
