.table > thead > tr > th,
.table > tbody > tr > td{
	font-size: 11px;
}

.table > tbody > tr > td{
	text-align: left
}

.btn{
	border-radius: 0;
	
}

.btn-reallocation{
	background-color: #5bc0de;
	border: 1px solid #5bc0de;
	color: #fff;
}

.btn-reallocation:hover{
	background-color: #5bc0de;
	border: 1px solid #498ca0;
}

.filter-wrap{
	padding: 2em;
	padding-left: 1em;
}
.modal-opepa-header{
	background-color: #0f3e12;
	color: gold;
	text-align:center;
	border-bottom: solid 1px #001;
}
.btn-new{
		border: solid 1px black;
		color: white;
}

body{
	color: #000;
}

.bg{	
	background-color: #8EB990;
	padding: 1em;
}

.bg-light{	
	background-color: #cae0cb;
	padding: 1em;
}
.panel-opepa{
	background-color: #0f3e12;
	color: #ffffff;
}
.pull-right{
	float:right;
}
.modal-border{
	border: solid 1px #001;
}
.modal-content-border{
	border-bottom: solid 1px #001;
}
.overflow-opepa{
	overflow: auto
}
.btn-padding{
	margin-right:10px;
}
.dropdown-menu {
    background-color: #ffffff !important;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #0f3e12 !important;
}
.pma-header{
    font-weight: bold;
    font-variant: small-caps;
}
.pma-details-header{
	font-size: 13px;
    font-weight: bold;
    font-variant: small-caps;
}
 /* custom  fieldset */
fieldset {
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    min-width: -webkit-min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}

legend {
    display: block;
    width: Auto;
    padding: 0;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: inherit;
    color: #333;
    border: 0;
}
.margin-10{
	margin-top: 10px;
}

.btn-get{
	border-radius: 100% !important;
}

.mute-text, .rem-bal .tot-bal{
	color: red;
	font-size: 14px;
	font-weight: bold;
	font-variant: small-caps;
}

.rem-bal{
color: red;
float: right
}
 
.tot-bal{
font-weight: bold;
	color: green;
}
 
.table>thead:first-child>tr:first-child>th:first-child{
	white-space: nowrap;
}
 
td {
	white-space: nowrap; 
 }

.panel, .panel-default, .panel-heading, .panel-primary{
	border-radius: 0 !important;
}
.export-excel-btn{
	color:#fff;
	position:absolute;
    top: 305px;
    margin-left: 15px;
}
    
.instruction {
    margin-left: 60px;
    margin-top: 10px;
}
.form-group .error {
    color: red;
    float: right;
    letter-spacing: 1px;
    font-size: 11px;
    font-weight: 700;
    font-variant: all-small-caps;
    margin-right: 13px;
}

.amount_msg{
    float: right;
    color: red;
    font-weight: bold;
    font-size: 11px;
    line-height: 1px;
}


 .dataTables_wrapper .dataTables_processing {
   top: 85% !important;
   z-index: 5
} 