@CHARSET "ISO-8859-1";
.table > thead > tr > th,
.table > tbody > tr > td{
	font-size: 11px;
}

.table > tbody > tr > td{
	text-align: left
}
.modal-opepa-header{
	background-color: #0f3e12;
	color: gold;
	text-align:center;
	border-bottom: solid 1px #001;
}
body{
	color: #000;
}
.panel-opepa{
	background-color: #0f3e12;
	color: #ffffff;
}
.pull-right{
	float:right;
}
.modal-border{
	border: solid 1px #001;
}
.modal-content-border{
	border-bottom: solid 1px #001;
}
.overflow-opepa{
	overflow: auto
}
.btn-padding{
	margin-right:10px;
}
.table>thead:first-child>tr:first-child>th:first-child{
	white-space: nowrap;
}
 
td {
	white-space: nowrap; 
 }
 .dropdown-menu {
    background-color: #ffffff !important;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #0f3e12 !important;
}
.pma-header{
    font-weight: bold;
    font-variant: small-caps;
}
.pma-details-header{
	font-size: 13px;
    font-weight: bold;
    font-variant: small-caps;
}
.label-right{
	text-align:right !important;
}
.mr-10{
	margin-right:10px;
}
.mb-10{
	margin-bottom:10px;
}
.text-center{
	text-align: center !important;
}
 /* custom  fieldset */
fieldset {
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    min-width: -webkit-min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}

legend {
    display: block;
    width: Auto;
    padding: 0;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: inherit;
    color: #333;
    border: 0;
}