@CHARSET "ISO-8859-1";

#tblSchoolMonitoringDetails > thead > tr > th{
	font-size: 11px;
}

.modal-opepa-header{
	background-color: #0f3e12;
	color: gold;
	text-align:center;
	border-bottom: solid 1px #001;
}

.filter-wrap{
	padding: 2em;
	padding-top: 1em;
	padding-left: 1em;
}

.table > thead > tr > th,
.table > tbody > tr > td{
	font-size: 11px;
}
.dropdown-menu {
    background-color: #ffffff !important;
}
body{
	color:#000;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #0f3e12 !important;
}
 .table>thead:first-child>tr:first-child>th:first-child{
 	white-space: nowrap;
 }
 
td {
	white-space: nowrap; 
 }
   
 .panel, .panel-default, .panel-heading, .panel-primary{
 	border-radius: 0 !important;
 }