@CHARSET "ISO-8859-1";
.panel-default{
	border: 0.2px solid #017560 !important;
	}
.panel-default>.panel-heading{
	background-color: #017560 !important;
	color : white;
}
.table-bordered>thead>tr>th {
    background-color: #017560 !important;
    color: #ffffff;
    text-align:center;
}