.filter-wrap{
	padding-top: 2%;
	padding-left: 3%;
	padding-right: 3%;
}

.table{
	font-size: 11px;
}

.jconfirm-title-c{
	text-align: center !important;
	margin-bottom: 10px;
}

.jconfirm-content{
	line-height: 1.5;
}