@CHARSET "ISO-8859-1";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

.form-control{
    background: transparent;
}
form {
	 
	margin: 20px;
}
form > div {
	position: relative;
	overflow: hidden;
}
form input, form textarea {
	width: 100%;
	border: 2px solid gray;
	background: none;
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
	padding: 8px 12px;
	outline: 0;
}
form input:valid, form textarea:valid {
	background: white;
}
form input:focus, form textarea:focus {
	border-color: #357EBD;
}
form input:focus + label, form textarea:focus + label {
	background: #42BDAB;
	color: white;
	font-size: 70%;
	padding: 10px 0px 6px 10px;
	z-index: 2;
	text-transform: uppercase;
}
form label {
	-webkit-transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
	transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
	position: absolute;
	color: black;
	padding: 7px 6px;
	font-weight: normal;
}
form textarea {
	display: block;
	resize: vertical;
}
form.go-bottom input, form.go-bottom textarea {
	padding: 12px 12px 12px 12px;
}
form.go-bottom label {
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
}
form.go-bottom input:focus, form.go-bottom textarea:focus {
	padding: 4px 6px 20px 6px;
}
form.go-bottom input:focus + label, form.go-bottom textarea:focus + label {
	top: 100%;
	margin-top: -16px;
}
form.go-right label {
	border-radius: 0 5px 5px 0;
	height: 100%;
	top: 0;
	right: 100%;
	width: 100%;
	
	margin-right: -100%;
}
.goright h2{ text-align:center;
	
}
 
form.go-right input:focus + label, form.go-right textarea:focus + label {
	right: 0;
	margin-right: 0;
	width: 40%;
	padding-top: 5px;
}


.navbar-inverse{
	background:#fff!important;
	border:none;
	   box-shadow: 2px 2px 2px #f1f1f1;
}
.top_menu{width:300px; float:right; height:25px;  font-weight: normal; font-size: 13px; 
}
.navbar { padding:4px 0px 0px 0px; margin:0px; border-top:4px solid #4DC1B0;  }
.navbar-inverse .navbar-nav > li > a{ color:#FF5451;} 
.navbar-nav{float:right; font-weight:normal; margin:0px 60px 0px 0px;}
.go-right button{ background:#42BDAB;}
.stybtn{width:100%;}
.navbar-inverse .navbar-toggle{ background:#666;}

