body{ font-size:13px; line-height:1.3em; letter-spacing:1px; font-family: Arial, Helvatica; font-weight:300; color:#585f6d;}
.login-screen{
	background:url("../images/background_spfo.jpg")100% no-repeat;
	min-height:670px;
}
.vh100{min-height:calc(100vh - 347px)}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 { font-weight:400;font-family:Arial, Helvatica; margin:1rem 0 1rem 0;}
a, a:hover, a:focus{color:#042048; text-decoration:none;}
a:focus, .btn:focus{outline:0 none !important;}
iframe{width: 100%;}

/**Bootstrap util override and custom class**/
.well{background:#fff;}
.dropdown-menu{font-size:13px;}
/**Start of Multilevel DropDown List**/

.dropdown-submenu {
    position: relative;
}

/* For li tag */
li{
	border-bottom: 1px solid #E2850A;
}

/* For making datatable element to Center(The dt-center class is part of the DataTables stylesheet) */
td.dt-center { 
	text-align: center; 
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
/**End of Multilevel DropDown List**/
.shadow{box-shadow:0 2px 5px rgba(0, 0, 0, 0.3);}

.panel-default, .panel-default > .panel-heading {border-color: #0f3e12;}
.panel-default > .panel-heading {background-color:#0f3e12; color:white;}

.btn-link{background:transparent; border:0 none; padding:0;}
.btn-link:focus{background:transparent !important; color:inherit !important;}

.gb{padding:5px 15px;;}
/**Bootstrap util override and custom class ends**/

/**Colors**/
.base{background:#E2850A; color:#fff;}
.primary{background:#FF6600; color:#fff;}
.success{background:#18A3AC; color:#fff;}
.warning{background:#F38023; color:#fff;}
.danger{background:#D71A49; color:#fff;}

.btn.base:hover, .btn.base:focus{background:#042048; color:#fff;}
.btn.primary:hover, .btn.primary:focus{background:#FF6700; color:#fff;}
.btn.success:hover, .btn.success:focus{background:#18A3AC; color:#fff;}
.btn.warning:hover, .btn.warning:focus{background:#F38023; color:#fff;}
.btn.danger:hover, .btn.danger:focus{background:#D71A49; color:#fff;}

/**Colors ends**/

/**Login**/
.login-body{background-color: #333; background-image: url("../images/footer-bottom-bg.png");  background-repeat: repeat;}
.login-body .white{background:#eee; height:360px;}
/* .login-body .white{background:#eee; height:360px; background-image:url("../images/ship.jpg");  background-repeat: repeat;} */
.login-style{ color: #b8b8b8; width:100%;padding:0 15px; margin-top:420px;}
.login-style a{color:#ddd;}
.login-style hr{border-color:rgba(255,255,255,.2);}

.login{display:block; border:solid 1px rgba(208,215,229,1); background:#fff;box-shadow:-2px 13px 24px 0 rgba(0, 0, 0, 0.2); margin-top:150px;}
.login .logo{width:150px;}
.login header{padding-top:15px;}

@media (max-width: 1600px) {
.login{margin-top:130px;}
.login-body .white{height:350px;}
.login-style{margin-top:280px;}
}
@media (max-width: 1367px) {
.login{margin-top:140px;}
.login-body .white{height:350px;}
.login-style{margin-top:280px;}
}
@media (max-width: 1024px) {
.login{margin-top:100px;}
.login-body .white{height:310px;}
.login-style{margin-top:240px;}
}
@media (max-width: 640px) {
.login{margin-top:80px;}
.login-body .white{height:290px;}
.login-style{margin-top:220px;}
}
/**Login ends**/

/**--MainHeader--**/


.navbar-brand{padding:0 15px;}
.navbar-brand img{max-height:50px;}
.cusNav.navbar-default{border:0 none; border-radius:0;}
.cusNav.navbar-default .navbar-nav > li > a{color:rgba(255,255,255,.8);font-weight: 500;}

.cusNav.navbar-default .navbar-nav > li:hover > a, .cusNav.navbar-default .navbar-nav > li.active > a
	{
	background-color: #d9d9d9;
	height: 47px;
	color: black;
	font-weight: 600;
	}

.cusNav.navbar-default .navbar-nav > li> a:focus, .cusNav.navbar-default .navbar-nav > .open > a, .cusNav.navbar-default .navbar-nav > .open > a:focus, .cusNav.navbar-default .navbar-nav > .open > a:hover{background:rgba(255,255,255,.1); color:rgba(255,255,255,1);}

.navbar-collapse.in .navbar-nav .open .dropdown-menu > li > a {color: rgba(255,255,255,.7);}
.navbar-collapse.in .navbar-nav .open .dropdown-menu > li > a:hover {color: rgba(255,255,255,.7);}

.navbar-default .navbar-toggle .icon-bar{background-color:#fff;}
.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus { border-color: transparent; background:transparent;}
/**--MainHeader ends--**/

/**--MainFooter--**//*background-image: url("../images/footer-bottom-bg.png");  */
.site-footer{color: #b3b3b3;background-color: #D0D7E5;    background-repeat: repeat; color: #110A01; position: relative; padding:20px 15px;}
.site-footer a{color: #b3b3b3; text-decoration:underline;}
.ft-img{max-height:130px; padding:10px 0; max-width:100%;}
.site-footer h5{font-size:1.7rem; font-weight:500;}
.site-footer hr{border-color:rgba(255,255,255,.2);}
/**--MainFooter ends--**/

/**Page**/
.entry-header{background-color:#d0d7e5; margin:-20px 0 15px;}
.entry-title {color: #444;font-weight: 200; font-size: 25px; line-height: 34px; padding: 6px 0 6px; margin:15px 0; display:inline-block;}
@media (max-width: 768px) {
	.entry-title{ margin:10px 0;}
}
.entry-header .btn{margin-top:15px;}

.list{list-style:none; padding:0;}
.list li{margin-bottom:5px; padding-left:16px;}
.list li:before{content:"\e250"; margin-left:-16px; float:left; width:16px; font-family:"Glyphicons Halflings"; font-size:11px; color:#585f6d;}

.dashboard-panel .labels{ font-size:18px; line-height:3rem; color:rgba(255,255,255,.6);}
.dashboard-panel a{color:inherit;}
.dashboard-panel .counter{ font-size:4rem; line-height:6rem; color:rgba(255,255,255,.5);}

.p5{padding:3px 5px;}
.pl5{padding-left:5px;}
.pl15{padding-left:15px;}

.help-inline{display:none !important;}

.bootstrap-datetimepicker-widget{ color:#444;}

.tvs{padding:3px 5px; border-radius:2px;}
.tvs.warning{text-decoration:underline;}
.tvs.warning:hover{color:#fff; text-decoration:none;}

.rf-fact{ text-align:right;}
@media (max-width: 1200px) {
	.rf-fact{text-align:left;}
}
/**css for input type :number remove spin button.**/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
/**css for input type :text **/
input[type=text]::{
	
	height:30px;
}

/**Page ends**/

/**notify**/
.notify{position:relative; padding:10px 30px 10px 10px; margin:15px 0; width:300px; background:#F38023; color:#eee; font-size:13px;box-shadow:0 2px 10px rgba(50, 50, 50, 0.5); float:right;
	transition:all .4s ease;
	}
.notify:hover{opacity:.8;}

.closeMe{position:absolute; top:10px; right:10px; color:#fff; cursor:pointer;}
/**notify ends**/

/**Table**/
.table-bordered{border:solid 1px #9eb6ce;}
.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1px solid #9eb6ce; 
}
.table > thead > tr > th{background:#0f3e12; border-color:#0f3e12;color: #ffffff;}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{border-color:#9eb6ce;}

.table-striped > tbody > tr:nth-of-type(2n+1){background:#fff;}
.table-striped > tbody > tr:nth-of-type(2n+2){background:#e9effa;}

.table > tbody > tr.success > td, .table > tbody > tr.success > th, .table > tbody > tr > td.success, .table > tbody > tr > th.success, .table > tfoot > tr.success > td, .table > tfoot > tr.success > th, .table > tfoot > tr > td.success, .table > tfoot > tr > th.success, .table > thead > tr.success > td, .table > thead > tr.success > th, .table > thead > tr > td.success, .table > thead > tr > th.success{background:#18A3AC; color:#fff;}
.table > tbody > tr.warning > td, .table > tbody > tr.warning > th, .table > tbody > tr > td.warning, .table > tbody > tr > th.warning, .table > tfoot > tr.warning > td, .table > tfoot > tr.warning > th, .table > tfoot > tr > td.warning, .table > tfoot > tr > th.warning, .table > thead > tr.warning > td, .table > thead > tr.warning > th, .table > thead > tr > td.warning, .table > thead > tr > th.warning{background:#F38023; color:#fff;}

.action-icon .glyphicon{font-size:17px;}
.action-icon{color:#7591B9; margin:2px 3px;}
.action-icon:hover{color:#5E7AA2;}
/**Table ends**/

/**Tabpane**/
.nav-tabs{border-bottom: 1px solid #d0d7e5;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover  {border: 1px solid #d0d7e5; border-bottom-color:transparent;}

.tab-content > .tab-pane{padding:15px; background:#fff;border: 1px solid #d0d7e5; border-top:0 none; margin-bottom:15px;}
/**Tabpane ends**/

/**form**/
.form-action{margin:15px 0;}
.form-control{border-color:#d0d7e5;}

.form-line .form-group{display:table; width:100%; margin-bottom:5px;}
.form-line .form-group .form-control, .form-line .form-group label{display:table-cell;}
.form-line .form-group label{display:table-cell; width:1%; white-space:nowrap; padding-right:15px;}
.form-line .form-group .form-control{border:0 none; border-bottom:solid 1px #d0d7e5; border-radius:0; height:28px; padding:2px 10px;}
.form-line .form-group .form-control:focus{box-shadow:none; border-bottom:solid 1px #18A3AC;}
.form-line .form-group textarea.form-control{ min-height:65px;}
.form-line input[type="checkbox"], .form-line input[type="radio"]{margin-top:2px;}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {background-color:#d0d7e5;}
	/*Repeater element*/
	.repeat-box .repeat-me:first-child{display:none;}
	.repeat-box .remove-me{display:table-cell; width:1%; padding-left:10px;}
/**form ends**/

/**Data table**/
div.dataTables_wrapper div.dataTables_filter {text-align: right;}
div.dataTables_wrapper div.dataTables_paginate {margin: 0;text-align: right;white-space: nowrap;}

.icon-red{
	color: red
}

.icon-green{
	color: green
}
/**Data table ends**/




